body{
	background: linear-gradient(to bottom right, #74c0fc 0%, #1971c2 30%, #099268);
	background-repeat: no-repeat;
	height: 5000px;
}
body::after{
	position: fixed;
	z-index: -1;
	content: "";
	top: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom right, #1864ab 0%, rgba(255,255,255,.1) 40%);
}
#explicacion {
	height: 4600px;
	margin-top: -50px;
}
.articulo {
	position: relative;
	width: 80%;
	height: 400px;
	margin: auto;
	margin-bottom: 40px; 
	background-color: #212529;
	/*background: linear-gradient(to bottom right, #343a40 0%, #212529 80%);*/
	display:block;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}
.nombre {
	position: relative;
	height: 100px;
	background-color: #f1f3f5; 
	box-shadow: inset 0px -1px 0px gray;
}
.nombre > h2{
	line-height: 100px;
	font-weight: bold;
	font-size: 1.8em;
	margin-left: 5%;
}
.descripcion{
	display: inline-block;
	position: relative;
	height: 300px;
	margin-right: auto;
	background-color: #f1f3f5;
	width: 50%;
	padding: 1.3% 5%;
	box-sizing: border-box;
	overflow: hidden;
}
.descripcion > h4 {
	font-size: 1em;
	text-align: justify;
}
.descripcion h4 a{
	text-decoration: none;
	color:#1864ab; 
}
.descripcion h4 a:hover{
	color:#114372;
}
.land {
	float: right;
	width: 50%;
	height: 300px;
}
.land figure img{
	box-sizing: border-box;
	padding: 2px;
	width: 100%;
	height: 300px;
	filter: brightness(.9)
}
@media screen and (max-width: 920px){
	#banner{
		margin-bottom: 10px;
	}
	.articulo{
		height: 250px;
		width: 90%;
	}
	.nombre{
		height: 62.5px;
	}
	.nombre > h2{
		line-height: 62.5px;
		font-size: 1.3em;
	}
	.descripcion{
		height: 187.5px;
		padding: 2% 5%;
	}	
	.descripcion > h4 {
		font-size: .68em;
		text-align: justify;
	}
	.land{
		height: 187.5px;
	}
	.land figure img{
		height: 187.5px;
	}
}	
@media screen and (max-width: 560px){
	.articulo{
		height: 400px;
		width: 80%;
	}
	.nombre{
		height: 50px;
		text-align: center;
	}
	.nombre > h2{
		line-height: 50px;
		font-size: .75em;
		margin: 0;
	}
	.articulo::nth-child(2) .nombre > h2{
		font-size: .1em;
	}
	.descripcion{
		position: absolute;
		top: 249.5px;
		height: 150px;
		padding: 2% 5%;
		width: initial;
	}	
	.descripcion > h4 {
		font-size: .68em;
		text-align: justify;
	}
	.land{
		height: 200px;
		float: initial;
		width: initial;
	}
	.land figure img{
		height: 200px;
	}
}
@media screen and (max-width: 364px){
	.nombre {
		text-align: center;
	}
	.nombre h2{
		font-size: .75em;
		margin: 0;
	}
	.descripcion > h4 {
		font-size: .62em;
		text-align: justify;
	}
}
@media screen and (min-width: 400px) and (max-width: 560px){
	#banner{
		margin-bottom: 0px;
		height: 175px;
	}
		.articulo{
		width: 80%;
	}	
	.nombre {
		text-align: center;
	}
	.nombre h2{
		font-size: .75em;
		margin: 0;
	}
}
@media screen and (min-width: 1024px){
	.descripcion{
		padding: 3% 5%;
	}
}
@media screen and (min-width: 1280px){	
	.descripcion h4{
		font-size: 1.1em;
	}
}
@media screen and (min-width: 1440px){
	.descripcion{
		padding: 1.5% 5%;
	}
	.descripcion h4{
		font-size: 1.2em;
	}
}
@media screen and (min-width: 1600px){
	.descripcion h4{
		font-size: 1.1em;
	}
	.articulo{
		width: 60%;
	}
}

@media screen and (min-width: 1920px){
	.descripcion h4{
		font-size: 1.2em;
	}
	.articulo{
		width: 55%;
	}
}
@media screen and (min-width: 2560px){
	.articulo{
		width: 50%;
	}
	.descripcion{
		padding: 2% 4%;
	}
	.descripcion h4{
		font-size: 1.3em;
	}
}

