body{
    height: 3000px;
}
#contenido{
    height: 3000px;
}
#contenido #banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    height: 100px;
}
#contenido #banner h1 {
    font-size: 2.7em;
}
#contenido #texto{
    height: 90%;
    width: 99%;
	margin: auto;
	background-color: rgba(255,255,255,.9);
	/*border-radius: 50px;*/
    box-shadow: 5px 5px 30px rgba(0,0,0,.3);
    padding: 15px;
    box-sizing: border-box; 
}
#contenido #texto #atras{
    width: 60px;
    height: 30px;
    background-color: #1971c2;
    line-height: 30px;
    text-align: center;
}
#contenido #texto #atras a{
    display: block;
    text-decoration: none;
    color: white;
}
#contenido #texto #atras a:hover{
    transition-duration: 150ms;
    color: #228be6;
    background-color: #ced4da;
}
@media screen and (max-width: 816px){
    #contenido #banner h1{
        font-size: 4vw; 
    }
}